@charset "utf-8";
@media only screen and (max-width: 600px)/* Narrow */
{
/* ======================Body ====================== */
/* target whole outside body make it a flex conatiner */

.outside {
    display:flex;
    /* flex-direction: row; */
    flex-direction: column;
    overflow-x: hidden;
    /* width:100vw; */
}
/* .outside #restaurant-content {
    flex: 2 1 auto;
    align-content: space-around;
} */
.inside {
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    /* justify-content:space-around; */

    /* width: 100vw; */
    /* position: relative; */
    /* flex-wrap: wrap; */
    /* align-items: flex-start; */
    /* align-items:center; EDITED FOR FOOTER IT LEAVES GAP */
    justify-content: flex-start;
    /* BELOW IS ADDED TO HIDE HORIZONTAL SCROLL  */
    overflow-x: hidden;

}
#restaurant-container,
#reviews-container{
    width: 100%;
}
/* #reviews-container {
    width: 100%;
} */
#reviews-list li {
    width:75%;
}
/* #restaurants-list {
    width:100%;
} */
/* .inside #maincontent {
    order: 0;
    margin: auto;
    width: 100vw;
} */
/* ====================== Main====================== */
/* DONT FLEX MAIN CONTENT */
/* #maincontent {
    display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      min-height: 100%;
  } */
.inside header{
    order: 0;
    /* width:100vw; */
    width:100%;

}
#breadcrumb li {
    font-size: 10pt;
}

 /* .inside #maincontent { */
     /* min-width: 0; */
     /* padding: 0; */
    /* width: 100vw; */
/* } */
 .inside #map-container {
    order: 1;
    /* order: 2; */
    /* flex-flow: column wrap; */
    top: 130px;
    position: relative;
    height: 400px;
    width: 100vw;
    width: 100%;
}
/* .inside #restaurant-container,
#reviews-list {
width: 100vw; */

 /* flex-basis: 75%; */
/* } */
.inside #restaurant-container {
    order: 2;
    flex-basis:100%;
    flex-grow: 1;
}
.inside #reviews-container {
    order:3;
    flex-basis:100%;
    flex-grow: 1;
}
#reviews-container {
    padding: 30px 40px 80px;
  }
  #restaurant-container {
    padding: 140px 0 40px 0;
  }
 #restaurant-container{
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* align-items: flex-start; */
    justify-content:center;
    /* justify-content:space-around; */

    /* padding: 140px 0 0 30px; */
    margin: auto;
  }
  /* #restaurant-container #restaurant-name,
  #restaurant-img,
  #restaurant-cuisine {
      align-self: center;
  } */
  #restaurant-container #restaurant-hours,
  #restaurant-address{
      align-self: flex-start;
  }
  #restaurant-hours,
  #restaurant-address {
      padding-left:28px;
  }
  /* #restaurant-container #restaurant-name,
  #restaurant-img,
  #restaurant-cuisine,
  #restaurant-address,
  #restaurant-hours{
flex-basis:100%;
flex-grow:2;
  } */

  /* #restaurant-hours {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: flex-start;
  } */
  #reviews-container {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* BELOW TO MAKE REVIEWS HEADING AT START */
  align-items: flex-start;

  margin:auto;
  }
  .inside #footer {
      order:4;
      align-self: center;
      bottom:0;
     position: absolute;
     /* flex-basis:100% ; */
     width: 100%;
     /* flex: 2 0 100%; */
     /* flex:0 1 87%; */
     /* flex:0 1 auto; */
  }
  /* #footer {
      width:100%;
  } */

  #restaurants-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px 15px 40px 30px;
		/* max-width: 90%; */
        /* padding: 0; */
        margin: auto;
  }
  /* #restaurants-list li {
    flex:2 1 auto;
  } */
  #reviews-list {
      display: flex;
      flex-flow: column;

  }

/* ====================== Header ====================== */
/* nav {
display:flex;
justify-content:center;
} */
 header{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
header nav{
    order:0;
}
header #breadcrumb {
    order:1;
    /* width: 100vw; */
    width: 100%;
    line-height: 2.5;
    display: flex;
    /* flex-direction: column; */
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
/* ====================== Section====================== */
/* ====================== Outside====================== */
/* .filter-options {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
     main goes
} */

#restaurants-list {
padding: 30px 15px;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-around;
align-items: center;

}
/* ====================== End Outside====================== */

/* ====================== Inside============================ */
/* .leaflet-control-zoom.leaflet-bar.leaflet-control {
    margin-top: 3rem;
  } */

/* ====================== End Inside======================== */



/* ====================== End Section====================== */

























}
