@charset "utf-8";
@media only screen and (max-width: 600px) /* Narrow */ {
  /* ======================Body ====================== */
  /* target whole outside body make it a flex container */
  .outside {
    display: flex;
    flex-direction: column;
  }

  .inside {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: flex-start;
  }

  /* ====================== inside body====================== */

  .inside header {
    order: 0;
    width: 100vw;
  }

  .inside #map-container {
    order: 1;
    top: 130px;
    position: relative;
    height: 400px;
    width: 100vw;
  }

  .inside #restaurant-container {
    order: 2;
    width: 100vw;
    flex-grow: 1;
  }
  .inside #reviews-container {
    order: 3;
    width: 100vw;
    flex-grow: 1;
  }
  .inside #footer {
    order: 4;
    align-self: center;
    bottom: 0;
    position: absolute;
    width: 100vw;
  }
  /* ====================== End inside body====================== */

  /* ====================== Inside Main============================ */

  #restaurant-container,
  #reviews-container {
    width: 100%;
  }

  #reviews-list li {
    width: 75%;
  }

  #restaurant-container {
    padding: 140px 0 40px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  #restaurant-container #restaurant-hours,
  #restaurant-address {
    align-self: flex-start;
  }
  #restaurant-hours,
  #restaurant-address {
    padding-left: 28px;
  }

  #reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
  }

  #reviews-list {
    display: flex;
    flex-flow: column;
    padding-right: 0px;
    margin: 20px;
  }

  /* ======================End Inside Main============================ */

  /* ====================== Header Inside ====================== */

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav {
    order: 0;
  }
  header #breadcrumb {
    order: 1;
    width: 100vw;
    line-height: 2.5;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  #breadcrumb li {
    font-size: 10pt;
  }
  /* ====================== End Header Inside ====================== */

  /* ====================== Footer====================== */
  #footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* ====================== End Footer====================== */

  /* ====================== Outside Main====================== */

  #restaurants-list {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  /* ====================== End Outside Main====================== */
}
