@charset "utf-8";

@media only screen and (min-width: 601px) and (max-width: 1301px) {
  #restaurants-list {
    justify-content: space-around;
    align-items: center;
  }

  #restaurants-list li {
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  .leaflet-control-zoom.leaflet-bar.leaflet-control {
    margin-top: 4rem;
  }

  .leaflet-bottom {
    top: 0;
  }
}

@media only screen and (max-width: 459px) {
  .filter-options {
    width: 100%;
    height: 110px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 12px;
  }

  .filter-options select {
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 200px;
  }

}