@charset "utf-8";
@media only screen and (min-width: 481px) and (max-width: 960px)  /* Medium */
{
    .outside {
        display:flex;
        /* flex-direction: row; */
        flex-direction: column;
    }

    html {
        height: 3000px;
      }

      body {
        height: 100%;
        min-height: 100%;
        max-height: 100%;
      }

      .inside main#maincontent > section#map-container {
        position: absolute;
      }

      .inside #map-container {
        position: absolute;
        height: 20%;
        top: 130px;
        width: 100%;
        right:0;
      }

      /* #restaurant-container {
        padding: 21px 0 40px 0;
        width: 100%;
        position: relative;
        top: 730px;
        padding-bottom: 60px;
        bottom: 0;
      }

      .inside #reviews-container {
        position: relative;
        top: 730px;
      } */


    }


































}
    /* #restaurant-content {
         display: flex;
         flex-flow:row wrap;
    justify-content:center;
    }
    #restaurants-list li {

       /
        align-self: center;

        flex:2 1 auto;
      }

    .leaflet-control-zoom.leaflet-bar.leaflet-control {
    margin-top: 4rem;
    }

    #restaurant-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;
    }

    #restaurant-container #restaurant-name,
    #restaurant-img,#restaurant-cuisine {
        flex: 2 2 auto;
    }
    #reviews-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items:flex-start;


    }
    #reviews-list {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

    }
    #reviews-list li {
flex: 1 2 auto;
    }*/